﻿@model IEnumerable<CmsShoppingCart.Models.ViewModels.Shop.CategoryVM>

@{
	ViewBag.Title = "Categories";
}

<h2>Categories</h2>

<div class="new-category">
	<input type="text" id="newcategoryname" />
	<p>
		<a href="#" id="newcategorya">Add new category</a>
		<span class="ajax-text">
			<img src="~/Content/img/ajax-loader.gif" />
		</span>
	</p>
</div>

@if (!Model.Any())
{
	<h1 class="text-center">There are no categories.</h1>
}
else
{

	<table class="table sorting categories" id="pages">
		<tr class="home">
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th></th>
		</tr>

		@foreach (var item in Model)
		{
			<tr id="id_@item.Id">
				<td>
					<div class="ajaxdivtd"></div>
					@Html.EditorFor(modelItem => item.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
				</td>
				<td>
					@Html.ActionLink("Delete", "DeleteCategory", new { id = item.Id }, new { @class = "delete" })
				</td>
			</tr>
		}

	</table>

}

@section Scripts{

	<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
	<script>
        $(function () {

			/*
			* Add new category
			*/
			var newCategoryA = $("a#newcategorya");
			var newCategoryTextInput = $("#newcategoryname");
			var ajaxText = $("span.ajax-text");
			var table = $("table#pages tbody");

			newCategoryTextInput.keyup(function (e) {
				// if key = ENTER
				if (e.keyCode == 13) {
					newCategoryA.click();
				}
			});

			newCategoryA.click(function (e) {
				e.preventDefault();

				var categoryName = newCategoryTextInput.val();

				if (categoryName < 2) {
					alert("Category name must be at least 2 characters long.");
						return false;
				}

				ajaxText.show();
				var url = "/admin/shop/AddNewCategory";

				$.post(url, { categoryName: categoryName }, function (data) {
					var response = data.trim();

					if (response == "titletaken") {
						ajaxText.html("<span class='alert alert-danger'>That title is taken!</span>");
						setTimeout(function () {
							ajaxText.fadeOut("fast", function () {
								ajaxText.html("<img src=/Content/img/ajax-loader.gif />");
							});
						}, 2000);
						return false;
					} else {
						if (!$("table#pages").length) {
							location.reload();
						} else {
							ajaxText.html("<span class='alert alert-success'>That category has been added!</span>");
							setTimeout(function () {
								ajaxText.fadeOut("fast", function () {
									ajaxText.html("<img src=/Content/img/ajax-loader.gif />");
								});
							}, 2000);

							newCategoryTextInput.val("");

							var toAppend = $("table#pages tbody tr:last").clone();
							toAppend.attr("id", "id_" + data);
							toAppend.find("#item_Name").val(categoryName);
							toAppend.find("a.delete").attr("href", "/admin/shop/DeleteCategory/" + data );
							table.append(toAppend);
							table.sortable("refresh");
						}
					}
				});
			});

            ///////////////////////////////////////////////////////
			
            /*
			* Sort categories
			*/
            $("table#pages tbody").sortable({
                items: "tr:not(.home)",
                placeholder: "ui-state-highlight",
                update: function () {
                    var ids = $("table#pages tbody").sortable("serialize");
                    // Log on browser console
                    // console.log(ids);
                    var url = "/Admin/shop/ReorderCategories";

                    $.post(url, ids, function (data) {
                    });
                }
            });

			///////////////////////////////////////////////////////

            /*
			* Confirm category deletion
			*/
			$("body").on("click", "a.delete", function () {
				if (!confirm("Confirm category deletion")) return false;
			});

            ///////////////////////////////////////////////////////

            /*
			* Rename category
			*/
			var originalTextBoxValue;

			$("table#pages input.text-box").dblclick(function () {
				originalTextBoxValue = $(this).val();
				$(this).attr('readonly', false);
			});

			$("table#pages input.text-box").keyup(function (e) {
				if (e.keyCode == 13)
					$(this).blur();
			});

			$("table#pages input.text-box").blur(function () {
				var $this = $(this);
				var ajaxdiv = $this.parent().find(".ajaxdivtd");
				var newCategoryName = $this.val();
				var categoryId = $this.parent().parent().attr("id").substring(3);
				var url = "/admin/shop/RenameCategory";

				if (newCategoryName < 2) {
					alert("Category name must be at least 2 characters long.");
					$(this).attr('readonly', true);
					return false;
				}

				$.post(url, { categoryId: categoryId, newCategoryName: newCategoryName }, function (data) {
					var response = data.trim();

					if (response === "titletaken") {
						$this.val(originalTextBoxValue);
						ajaxdiv.html("<span class='alert alert-danger'>That title is taken!</span>").show();

					} else {
						ajaxdiv.html("<span class='alert alert-success'>That category name has been changed!</span>").show();
					}
					setTimeout(function () {
						ajaxdiv.fadeOut("fast", function () {
							ajaxdiv.html("");
						});
					}, 2000);
				}).done(function () {
					$this.attr("readonly", true);
				});
			});

            ///////////////////////////////////////////////////////
        });
	</script>
}