﻿@model IEnumerable<CmsShoppingCart.Models.ViewModels.Shop.ProductVM>
@using PagedList.Mvc;
@using PagedList;

@{
	ViewBag.Title = "Products";
}

<h2>Products</h2>

@if (TempData["SM"] != null)
{
	<div class="alert alert-success">
		@TempData["SM"]
	</div>
}

<select id="selectCategory" name="selectCategory">
	<option value="0">All</option>
	@foreach (var category in @ViewBag.Categories)
	{
		if (category.Value == ViewBag.SelectedCategory)
		{
			<option selected="selected" value="@category.Value">@category.Text</option>
		}
		else
		{
			<option value="@category.Value">@category.Text</option>
		}
	}
</select>

<p>
	@Html.ActionLink("Add New Product", "AddProduct")
</p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Name)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Description)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.ImageName)
		</th>
		<th></th>
	</tr>
	@foreach (var item in ViewBag.OnePageOfProducts)
	{
		<tr>
			<td>
				@item.Name
			</td>
			<td>
				@item.Description
			</td>
			<td>
				@item.Price
			</td>
			<td>
				<a href="/admin/shop/EditProduct/@item.Id">
					<img src="/Images/Uploads/Products/@item.Id/Thumbs/@item.ImageName" />
				</a>
			</td>
			<td>
				@Html.ActionLink("Edit", "EditProduct", new { id = item.Id }) |
				@Html.ActionLink("Delete", "DeleteProduct", new { id = item.Id }, new { @class = "delete" })
			</td>
		</tr>
	}

</table>

@Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("Products", new { page, categoryId = ViewBag.SelectedCategory }))

@section Scripts{

	<script>
		$(function () {
			
			/*
			* Confirm product deletion
			*/
			$("a.delete").click(function () {
				if (!confirm("Confirm product deletion")) return false;
			});

			/*
			* Select products from specified category
			*/
			$("#selectCategory").on("change", function () {
				var url = $(this).val();

				if (url) {
					window.location = "/admin/shop/Products?categoryId=" + url;
				}

				return false;
			});

			///////////////////////////////////////////////////////
		});
	</script>
}