﻿table.sorting tr:not(.home){
    cursor: pointer;
}

.ui-state-highlight{
    border: 1px dashed #ccc;
}

div.new-category {
	margin-top: 30px;
	position: relative;
}

span.ajax-text {
	display: none;
}

table.sorting.categories td {
	padding: 20px !important;
}

.ajaxdivtd {
	position: absolute;
}
