﻿@inherits CompositeC1WebPage
@{
    string stylesFolder = "~/Frontend/Styles";
    string jsFolder = "~/Frontend/Scripts";
    string websiteTitle = HomePageNode.Title;
}
<!DOCTYPE html>
<f:function name="Composite.Web.BundlingAndMinification" xmlns:f="http://www.composite.net/ns/function/1.0">
    <f:param name="Page">
        <html xmlns="http://www.w3.org/1999/xhtml" class="no-js" lang="@Lang">
        <head>
            <title>@CurrentPageNode.Title</title>
            @if (!string.IsNullOrEmpty(CurrentPageNode.Description))
            {
                <meta name="description" content="@CurrentPageNode.Description" />
            }
            @PageTemplateFeature("Descriptive HTML head elements")
        </head>
        <body>
            <header class="navbar navbar-default navbar-static-top" role="banner">
                <div class="container">
                    <div class="navbar-header">
                        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="@HomePageNode.Url" class="navbar-brand">@websiteTitle</a>
                    </div>
                    <div class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                        @PageTemplateFeature("Main Navigation")
                        <div class="service-nav">
                            @PageTemplateFeature("Service Menu")
                        </div>
                    </div>
                </div>
            </header>
            <div class="container">
                @* renders the sub template: *@
                @RenderBody()

                @PageTemplateFeature("Content Footer")
                <hr />
                <footer role="contentinfo">
                    @PageTemplateFeature("Page Footer")
                </footer>
            </div>
        </body>
    </html>
</f:param>
</f:function>